<html>
<head>
	<title>Seismic GeneBase</title>
	<!-- absolute path to capture multiple "/" -->
	<base href="/json-db-servlet/">
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
	<link href="stylesheets/common.css" rel="stylesheet">
	<link href="images/bio.ico" rel="shortcut icon">
	<style>
		#primary {
			/* center */
			width: 750px;
			margin-left: -375px;
			height: 150px;
			margin-top: -75px;
			line-height: 150px;
		}
	</style>
</head>
<body>

<div id="primary">
	<h1 style="margin: 0">Oops! Perhaps you took a wrong turn?</h1>
</div>

</body>
</html>